<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/styles.css" />
		<link
			rel="shortcut icon"
			href="/crappo-fav.ico"
			type="image/x-icon"
		/>
		<!-- todo font style -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<title>BTC-Site | Home</title>
	</head>
	<body class="antialiased">
		<header class="px-8 py-8 bg-primary font-semibold">
			<nav class="flex items-center justify-between">
				<a href="" class="flex items-center space-x-2">
					<img src="Oval.svg" alt="Logo" class="w-8 h-8" />
					<span class="text-white">CRAPPO</span>
				</a>
				<ul
					class="hidden sm:hidden md:hidden lg:flex space-x-6 items-center justify-center"
				>
					<li>
						<a
							class="text-white hover:text-lightBlue transition-all duration-300"
							href=""
							>Products</a
						>
					</li>
					<li>
						<a
							class="text-white hover:text-lightBlue transition-all duration-300"
							href=""
							>Features</a
						>
					</li>
					<li>
						<a
							class="text-white hover:text-lightBlue transition-all duration-300"
							href=""
							>About</a
						>
					</li>
					<li>
						<a
							class="text-white hover:text-lightBlue transition-all duration-300"
							href=""
							>Contact</a
						>
					</li>
					<li>
						<a
							class="text-white border-r px-4 border-greyWhite hover:text-lightBlue transition-all duration-300"
							href=""
							>Login</a
						>
					</li>
					<li>
						<a
							class="text-white bg-secondary px-6 py-3 rounded-full text-center hover:bg-darkBlue transition-all duration-300"
							href=""
							>Register</a
						>
					</li>
				</ul>
				<ion-icon
					class="w-8 h-8 block sm:block md:block lg:hidden cursor-pointer text-white border-2"
					name="menu"
				></ion-icon>
			</nav>
		</header>
		<!-- todo main page -->
		<main >
			<!-- todo first section -->
			<section
				class="bg-primary border-b-2 border-greyWhite py-20 px-8 grid justify-items-center grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-2 md:place-items-center"
			>
				<div class="flex flex-col space-y-8 text-white">
					<div>
						<img src="Base.png" alt="">
					</div>
					<h1
						class="text-4xl sm:text-4xl font-bold leading-snug md:leading-[2.6rem] md:text-4xl lg:text-5xl lg:leading-[3.6rem] xl:text-6xl xl:leading-[5rem]"
					>
						Fastest & secure platform to invest in crypto
					</h1>
					<p class="text-sm mt-2 md:text-md lg:text-md xl:text-lg text-greyWhite">
						Buy and sell cryptocurrencies, trusted by 10M wallets with over $30
						billion in transactions.
					</p>
					<button
						class="flex items-center bg-secondary w-fit space-x-4 px-4 py-2 rounded-full hover:bg-darkBlue transition-all duration-300"
					>
						<span class="font-semibold">TRY for FREE</span>
						<img src="arrow-right.svg" alt="" />
					</button>
				</div>
				<div class="mt-5">
					<img
						src="btc-illustration.svg"
						alt=""
						class="w-128 sm:w-128 md:w-300"
					/>
				</div>
			</section>
			<!-- todo second section -->
			<section
				class="bg-primary py-10 px-8 text-white grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-16"
			>
				<div class="flex items-start space-x-4">
					<div
						class="flex-shrink-0 h-24 w-24 rounded-full bg-lightGrey flex justify-center items-center"
					>
						<ion-icon class="text-secondary w-12 h-12" name="bar-chart"></ion-icon>
					</div>
					<p class="flex flex-col">
						<span class="text-4xl font-extrabold tracking-wider">$30B</span
						><span class="mt-2 text-lg text-greyWhite"
							>Digital Currency Exchanged</span
						>
					</p>
				</div>
				<!-- todo end of 1st -->
				<div class="flex items-start space-x-4">
					<div
						class="flex-shrink-0 h-24 w-24 rounded-full bg-lightGrey flex justify-center items-center"
					>
						<ion-icon class="text-secondary w-12 h-12" name="person"></ion-icon>
					</div>
					<p class="flex flex-col">
						<span class="text-4xl font-extrabold tracking-wider">10M+</span
						><span class="mt-2 text-lg text-greyWhite">Trusted Wallets Investor</span>
					</p>
				</div>
				<!-- todo end of 2nd -->
				<div class="flex items-start space-x-4">
					<div
						class="flex-shrink-0 h-24 w-24 rounded-full bg-lightGrey flex justify-center items-center"
					>
						<ion-icon class="text-secondary w-12 h-12" name="earth"></ion-icon>
					</div>
					<p class="flex flex-col">
						<span class="text-4xl font-extrabold tracking-wider">195</span
						><span class="mt-2 text-lg text-greyWhite">Countries Supported</span>
					</p>
				</div>
			</section>
			<!-- todo third section -->
			<section
				class="bg-primary py-10 px-8 grid justify-items-center grid-cols-1 text-white sm:grid-cols-1 md:grid-cols-2 gap-10 md:place-items-center"
			>
				<div>
					<img
						src="gpu-illustration.svg"
						alt=""
						class="w-128 sm:w-128 md:w-300"
					/>
				</div>
				<div class="flex flex-col space-y-4 mt-12">
					<h1
						class="text-2xl sm:text-2xl font-bold leading-snug md:leading-[2.6rem] md:text-2xl lg:text-3xl lg:leading-[3.6rem] xl:text-4xl xl:leading-[5rem]"
					>
						Why you should choose CRAPPO
					</h1>
					<p class="text-sm mt-2 md:text-md lg:text-md xl:text-lg text-greyWhite">
						Experience the next generation cryptocurrency platform. No financial
						borders, extra fees and fake reviews.
					</p>
					<button
						class="bg-secondary w-fit px-4 py-2 font-semibold rounded-full hover:bg-darkBlue transition-all duration-300"
					>
						Learn More
					</button>
				</div>
			</section>
			<!-- todo fourth section -->
			<section class="bg-primary py-20 text-white px-8 pb-56 md:pb-48">
				<div class="sm:w-3/5 mx-auto text-center">
					<h1
						class="text-2xl sm:text-2xl font-bold leading-snug md:leading-[2.6rem] md:text-2xl lg:text-3xl lg:leading-[3.6rem] xl:text-4xl xl:leading-[5rem]"
					>
						Check how much you can earn
					</h1>
					<p
						class="sm:w-3/4 mx-auto text-center text-sm mt-2 md:text-md lg:text-md xl:text-lg text-greyWhite"
					>
						Let’s check your hash rate to see how much you will earn today,
						Exercitation veniam consequat sunt nostrud amet.
					</p>
				</div>
			</section>
			<!-- todo fifth section -->
			<section class="py-10 bg-white text-lightGrey relative pt-[10rem] sm:pt-[8rem] md:pt-[6rem]">
				<div class="w-3/5 mx-auto pt-0 sm:pt-28">
					<h1
						class="text-2xl text-center sm:text-2xl font-bold leading-snug md:leading-[2.6rem] md:text-2xl lg:text-3xl lg:leading-[3.6rem] xl:text-[2.8rem] xl:leading-[3rem]"
					>
						Trade securely and market the high growth cryptocurrencies.
					</h1>
				</div>
				<!-- todo floated layout -->
				<section
					class="w-3/4 px-6 py-12 bg-darkWhite rounded-t-xl shadow-xl absolute top-0 left-0 transform translate-x-[15%] -translate-y-full border-b-2 border-greyWhite border-solid"
				>
					<form
						action=""
						class="flex flex-col md:flex-row md:items-center md:space-x-8 "
					>
						<input
							type="number"
							placeholder="Enter your hash rate"
							class="flex-1 md:flex-1 bg-transparent border-b border-b-greyWhite border-solid focus:outline-none focus:border-b focus:border-b-greyWhite focus:border-solid"
						/>
						<div
							class="flex space-x-6 md:flex items-center justify-between mt-8 md:mt-0 md:flex-1 md:items-center md:space-x-6"
						>
							<select
								name="Selection"
								id="select"
								class="border-b flex-1 md:flex-1 border-b-greyWhite border-solid focus:border-b focus:border-greyWhite focus:border-solid focus:outline-none"
							>
								<option value="Etherium">TH/s</option>
							</select>
							<button
								class="bg-secondary px-4 py-2 text-darkWhite font-normal text-lg rounded-full hover:bg-darkBlue transition-all duration-300"
							>
								Calculate
							</button>
						</div>
					</form>
				</section>
        <section
					class="w-3/4 p-6 bg-pureWhite rounded-b-xl shadow-xl absolute top-0 left-0 transform translate-x-[15%] translate-y-0 "
				>
        <p class="text-secondary uppercase text-[.6rem] sm:text-lg sm:font-medium">Estimated 24 Hour Revenue:</p>
        <p class="py-2 pt-4 text-[.6rem] sm:text-3xl font-bold  tracking-widest">0.055 130 59 ETH <span class="text-secondary">($1275)</span></p>
        <p class=" text-[.5rem] sm:text-lg text-greyWhite">Revenue will change based on mining difficulty and Ethereum price.</p>
        </section>
				<!-- todo floated layout -->
			</section>
			<!-- todo sixth section -->
			<section
				class="bg-white px-8 text-white grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-16 pb-10"
			>
				<div
					class="bg-tertiary flex flex-col px-4 py-10 w-fit rounded-md items-center justify-center space-y-8 text-center shadow-lg"
				>
					<img src="btc-logo.svg" alt="" />
					<img src="Btc-label.svg" alt="" />
					<p>Digital currency in which a record of transactions is maintained.</p>
					<button
						class="flex items-center bg-secondary w-fit space-x-4 px-4 py-2 rounded-full hover:bg-darkBlue transition-all duration-300"
					>
						<span class="font-semibold">TRY for FREE</span>
						<img src="arrow-right.svg" alt="" />
					</button>
				</div>
				<!-- todo end of first -->
				<div
					class="flex flex-col px-4 py-10 w-fit text-greyWhite items-center justify-center space-y-8 text-center"
				>
					<img
						src="eth-logo.svg"
						alt=""
						class="bg-secondary p-4 rounded-full"
					/>
					<img src="Eth-label.svg" alt="" />
					<p>
						Blockchain technology to create and run decentralized digital
						applications.
					</p>
					<img
						src="arrow-right.svg"
						alt=""
						class="ring-greyWhite ring-1 rounded-full w-16 h-16"
					/>
				</div>
				<!-- todo end of second -->
				<div
					class="flex flex-col px-4 py-10 w-fit text-greyWhite items-center justify-center space-y-8 text-center"
				>
					<img src="ltc logo.svg" alt="" />
					<img src="Ltc-label.svg" alt="" />
					<p>Cryptocurrency that enables instant payments to anyone in the world.</p>
					<img
						src="arrow-right.svg"
						alt=""
						class="ring-greyWhite ring-1 rounded-full w-16 h-16"
					/>
				</div>
			</section>
			<!-- todo seventh section -->
			<section class="bg-tertiary pt-10 text-darkWhite">
				<div class="w-3/5 mx-auto">
					<h1
						class="text-2xl text-center sm:text-2xl font-bold leading-snug md:leading-[2.6rem] md:text-2xl lg:text-3xl lg:leading-[3.6rem] xl:text-[2.4rem] xl:leading-[3rem]"
					>
						Market sentiments, portfolio, and run the infrastructure of your choice
					</h1>
				</div>
			</section>
			<!-- todo eighth section -->
			<section
				class="bg-tertiary px-8 grid py-10 justify-items-start grid-cols-1 text-white sm:grid-cols-1 sm:items-start md:items-start md:grid-cols-2 gap-10 md:place-items-center"
			>
				<div class="flex flex-col space-y-4 mt-4 w-9/12 mr-auto">
					<h1
						class="text-2xl sm:text-2xl font-bold leading-snug md:leading-[2.6rem] md:text-2xl lg:text-3xl lg:leading-[3.6rem] xl:text-4xl xl:leading-[5rem]"
					>
						Invest Smart
					</h1>
					<p
						class="text-sm mt-2 md:text-md lg:text-md xl:text-lg text-greyWhite inline-block"
					>
						Get full statistic information about the behavior of buyers and sellers
						will help you to make the decision.
					</p>
					<button
						class="bg-secondary w-fit px-4 py-2 font-semibold rounded-full hover:bg-darkBlue transition-all duration-300"
					>
						Learn More
					</button>
				</div>
				<div>
					<img
						src="bitcoin-graph.svg"
						alt=""
						class="w-128 sm:w-128 md:w-300 shadow-lg"
					/>
				</div>
				<!-- todo end of first -->
				<div>
					<img
						src="statistics.svg"
						alt=""
						class="w-128 sm:w-128 md:w-300 shadow-lg mt-12"
					/>
				</div>
				<div class="flex flex-col space-y-4 mt-12 w-9/12 sm:mr-auto">
					<h1
						class="text-2xl sm:text-2xl font-bold leading-snug md:leading-[2.6rem] md:text-2xl lg:text-3xl lg:leading-[3.6rem] xl:text-4xl xl:leading-[5rem]"
					>
						Detailed Statistics
					</h1>
					<p
						class="text-sm mt-2 md:text-md lg:text-md xl:text-lg text-greyWhite inline-block"
					>
						View all mining related information in realtime, at any point at any
						location and decide which polls you want to mine in.
					</p>
					<button
						class="bg-secondary w-fit px-4 py-2 font-semibold rounded-full hover:bg-darkBlue transition-all duration-300"
					>
						Learn More
					</button>
				</div>

				<!-- todo end of second -->
				<div class="flex flex-col space-y-4 mt-12 w-9/12 mr-auto">
					<h1
						class="text-2xl sm:text-2xl font-bold leading-snug md:leading-[2rem] md:text-2xl lg:text-3xl lg:leading-[2rem] xl:text-4xl xl:leading-[2.2rem]"
					>
						Grow your business and track your investment
					</h1>
					<p
						class="text-sm mt-2 md:text-md lg:text-md xl:text-lg text-greyWhite inline-block"
					>
						Get full statistic information about the behavior of buyers and sellers
						will help you to make the decision.
					</p>
					<button
						class="bg-secondary w-fit px-4 py-2 font-semibold rounded-full hover:bg-darkBlue transition-all duration-300"
					>
						Learn More
					</button>
				</div>
				<div>
					<img
						src="bitcoin-graph.svg"
						alt=""
						class="w-auto sm:w-128 md:w-300 shadow-lg mt-12"
					/>
				</div>
			</section>
			<!-- todo ninth section -->
			<section class="bg-tertiary text-darkWhite py-16 px-10">
				<div class="w-full px-6 py-12 bg-secondary rounded-xl shadow-xl mx-auto">
					<form
						action=""
						class="flex flex-col sm:flex-row md:flex-row md:items-center md:space-x-8"
					>
						<div 	class="flex-1 md:flex-1 ">
            <h4 class=" text-xl sm:text-xl md:text-2xl font-semibold">Start mining now</h4>
            <p class="mt-2 sm:mt-2 sm:mt-0 w-full sm:w-[70%] text-sm">Join now with CRAPPO to get the latest news and start mining now</p>
            </div>
							
						
	
						<div
							class="flex flex-col  sm:flex-row md:flex md:flex-row  items-start justify-between mt-8 sm:items-center sm:space-x-4 md:mt-0 md:flex-1 md:items-center md:space-x-6"
						>
							<input
								type="email"
							  placeholder="Enter your email"
								class="border-b bg-transparent sm:flex-1 md:flex-1 placeholder-lightGreyWhite border-b-lightGreyWhite border-solid focus:border-b focus:border-lightGreyWhite focus:border-solid focus:outline-none"
							>
							
							</input>
							<button
								class="bg-darkWhite mt-6 sm:mt-0  px-4 py-2 text-lightGrey font-normal text-lg rounded-full hover:bg-lightGreyWhite transition-all duration-300"
							>
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</section>
		</main>
		<footer class="px-8 py-8 bg-primary text-darkWhite">
			<section
				class="grid items-start py-10 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-8 pb-10"
			>
				<a href="" class="flex items-center space-x-2">
					<img src="Oval.svg" alt="Logo" class="w-8 h-8" />
					<span class="font-semibold">CRAPPO</span>
				</a>
				<!-- todo end of footer logo -->
				<div>
					<h4 class="text-xl font-semibold">Quick Link</h4>
					<ul class="mt-6">
						<li>
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Home</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Products</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Features</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>About</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Contact</a
							>
						</li>
					</ul>
				</div>
				<!-- todo end of first -->
				<div>
					<h4 class="text-xl font-semibold">Resources</h4>
					<ul class="mt-6">
						<li>
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Download Whitepaper</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Smart Token</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Blockchain Explorer</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Crypto API</a
							>
						</li>
						<li class="mt-4">
							<a class="hover:text-lightBlue transition-all duration-300" href=""
								>Interest</a
							>
						</li>
					</ul>
				</div>
				<!-- todo end of second -->
				<div>
					<h4 class="text-2xl md:3xl font-semibold">
						We accept following payment systems
					</h4>
					<div class="mt-8 flex items-center space-x-4">
						<div class="bg-grey py-4 px-6 rounded-lg">
							<img src="visa.svg" alt="payment systems" class="w-28 h-8" />
						</div>
						<div class="bg-grey py-4 px-6 rounded-lg">
							<img
								src="mastercard.svg"
								alt="payment systems"
								class="w-28 h-8"
							/>
						</div>
						<div class="bg-grey py-4 px-6 rounded-lg">
							<img
								src="bitcoin.svg"
								alt="payment systems"
								class="w-28 h-8"
							/>
						</div>
					</div>
				</div>
			</section>
			<section
				class="px-8 py-12 pt-20 flex items-center justify-between flex-col-reverse md:flex-row md:items-center"
			>
				<div class="mt-6 md:mt-0">
					<p class=" text-lightGreyWhite text-[.7rem] sm:text-[.9rem]">&copy; <span>2021</span> CRAPPO. All rights reserved</p>
				</div>
				<div class="flex items-center space-x-6">
					<a href=""><ion-icon name="logo-facebook" class="w-6 h-6"></ion-icon></a>
					<a href=""><ion-icon name="logo-instagram" class="w-6 h-6"></ion-icon></a>
					<a href=""><ion-icon name="logo-youtube" class="w-6 h-6"></ion-icon></a>
					<a href=""><ion-icon name="logo-twitter" class="w-6 h-6"></ion-icon></a>
					<a href=""><ion-icon name="logo-linkedin" class="w-6 h-6"></ion-icon></a>
				</div>
			</section>
		</footer>

		<!-- todo ion icon -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
		></script>
	</body>
</html>
